# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Model weights
saved_models/
*.pth

# Dataset (too large for Git)
dataset/

# Logs
*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
